.title-container {
    color: black;
    
    text-align: center;
    font-weight: bolder;
  }
  .title-label {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    
  }
  