.logo-restaurante {
  height: 5%;
  width: 5%;
  padding-right: 2px;
  padding-left: 10px;
}

.titulo-navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  
}

