.logo-restaurante{
    height: 50vh;
    width: 50vw;
    padding-right: 10px;
    padding-top: 5px;
}
 
.titulo-navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

}

